.*
logs
test
node_modules
!/node_modules/nodebb-plugin-hidden
commitlint.config.js
nodebb.bat
renovate.json
*.yml
*.md
Dockerfile
dev.Dockerfile
config.json
package.json
package-lock.json
CHANGELOG.md